.settings
/.classpath
*.project
*.xml
*.txt
*.log
!changes_history.txt
target/
data/
bin
src/main/java/biotransformr/utils/ErdbTask.java
src/test/java/biotransformer/BioTransformerTest
src/test/java/biotransformer/ChemStructureFingerPrinterTest.java
.settings/org.eclipse.jdt.core.prefs
src/main/java/biotransformer/utils/BioTransformerDBBuilder.java
src/main/java/biotransformer/utils/ErdbTask.java
src/main/java/biotransformer/utils/CompoundDictionary.java



