.settings/*
data/
src/main/java/biotransformr/utils/ErdbTask.java
src/test/java/biotransformer/BioTransformerTest
src/test/java/biotransformer/ChemStructureFingerPrinterTest.java
target/*
.settings/org.eclipse.jdt.core.prefs
